# Конфигурация клиента светофора

# Адрес и порт сервера
server.address=ws://10.10.90.170:52521
server.port=52521

# Учетные данные администратора (оставьте пустым для режима специалиста)
admin.login=admin
admin.password=qweasd123#$
